<mat-grid-list cols="1" *ngIf="!heroes; else divHeroe">
    <mat-grid-tile>
        <mat-spinner ></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
    <div fxLayout="row" 
         fxLayout.xs="column" 
         fxLayoutGap="30px" >
        <div  fxFlex="50">
            <mat-card-title>{{ heroes.superhero | uppercase}} </mat-card-title> <br>
            <mat-divider></mat-divider>
            <mat-card-content>
                <br>
                <img mat-card-image [src]="heroes | imagen">
            </mat-card-content>
            
        </div>
        <div fxFlex="50" > 
            <mat-card-title> {{ heroes.publisher }} </mat-card-title> 
            <button mat-button color="info" [routerLink]="[ '/heroes/editar', heroes.id ]"> Editar <mat-icon>mode</mat-icon> </button>
            <button mat-button color="warn" (click)="regresar()" >regresar </button>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item>
                    <strong>Alter ego:</strong> {{ heroes.alter_ego }}
                </mat-list-item>
                <mat-list-item>
                    <strong>Primera aparición:</strong> {{ heroes.first_appearance}}
                </mat-list-item>
                <mat-list-item>
                    <strong>Personaje: </strong> {{ heroes.characters }}
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</ng-template>



